body {
	margin: 0px auto;
}

a {
    color: #32b574;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #32b574;
    text-decoration: underline;
}

h2 {
	color: #4a4a4a;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0;
	margin: 0;
}
h3 {
	color: #4a4a4a;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0;
	margin: 0;
}
h4 {
	color: #4a4a4a;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 0;
	margin: 0;
}
.image_res {
	max-width: 100%;
	height: auto;
}


.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(108, 193, 151);
}

/*Top Area Start*/

.top_bar {
	width: 100%;
	margin: 0px auto;
	background: #32b474;
}
/* .top_bar_sub {
	width: 1170px;
	margin: 0px auto;
	height: 50px;
}
.top_social {
	width: 57%;
	padding: 12px 0 0 0;
	display: inline-block;
	vertical-align: top;
} */
.top_social a {
	color: #FFF;
	font-size: 18px;
	padding: 0 12px 0 0px;
}
.top_social p {
	display:inline-block;
	vertical-align:top;
	color:#FFF;
	font-size:13px;
	font-weight:900;
	text-transform:uppercase;	
	padding: 5px 0 0 0;
	letter-spacing: 0.5px;
	word-spacing: 3px;
}
.top_bar_nav {
	width: 42%;
	display: inline-block;
	vertical-align: top;
	height: 50px;
}

.top_bar_nav a.nav-link {
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 13px;
	padding: 16px 20px 16px 20px;
	color:#FFF;
}

.top_bar_nav a.nav-link:hover {
    color: #0e5432;
}


.login_btn {
	color: #ffffff;
    border-color: #ffffff;
	border-radius: 20px;	
	margin: 0.5rem 0 0 2rem;
    padding: .3rem 1rem .3rem 1rem;
}

.login_btn:hover {
	color:#FFF;
	background-color: #22975d;
	border-color: #157345;
}

.login_btn:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
	background-color: #22975d;
	border-color: #157345;
}


.login_btn:focus {
box-shadow: 0 0 0 0.2rem rgb(108, 193, 151);
}

    

/*Top Area End*/

/*Header Area Start*/

.header_area {
	width: 100%;
	margin: 0px auto;
	background: #fff;
	z-index: 2;
	position: relative;
}
.header_area_sub {
	width: 1170px;
	margin: 0px auto;
}
.logo {
	width:16%;
	display: inline-block;
	vertical-align: top;
	padding: 27px 0 27px 0;
}
.top_nav {
	width: 83%;
	display: inline-block;
	vertical-align: top;
	padding: 32px 0 32px 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
}
a.nav-link {
	font-size: 16px;
}

.navbar-light .navbar-nav .nav-link {
    color: #1d1e19;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.3px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: rgb(50, 180, 116);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color:rgb(34, 136, 86);
}
.dropdown-item:focus, .dropdown-item:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #1e9345;
}
.sticky_header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 34;
}
.sticky_header + .content {
	padding-top: 102px;
}
/*Header Area End*/


/*Slider Area Start*/

.slider_area {
	width: 100%;
	margin: 0px auto;
}
.carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
}
.slider_area h2 {
	color: #FFF;
}
.carousel-item {
	z-index: -1;
}
/*Slider Area End*/

/*Main Heading Area Start*/

.main_heading {
    width: 100%;
    margin: 0px auto;
}

.main_heading_sub {
    width: 1170px;
    margin: 0px auto;
}

.main_heading_sub p {
    font-size: 46px;
    color: #1c1c1a;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    padding: 3% 0 3% 0;
    line-height: 56px;
}

.main_heading_sub p span {
    color: #32b474;
}

/*Main Heading Area END*/


/*Carousel Area Start*/

.carousel_area {
	width: 100%;
    margin: 0px auto;	
}

.carousel_area_sub {
    width: 1170px;
    margin: 0px auto;
}


.carousel_area  h1 {
	color: #32b474;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
	font-size:30px;
}

hr.style1{
	border-top: 2px solid #33b375;
}

hr.style2{
	border-top: 2px solid #33b375;
	margin:4% 0 4% 0;
}

hr.style3{
	border-top: 6px solid #32b476;
	margin:0;
}

hr.style4{
	border-top: 2px solid #32b476;
	margin:4% 0 4% 0;
}

hr.style5{
	border-top: 2px solid #fff;
	margin:4% 0 4% 0;
}

hr.style6{
	border-top: 2px solid #9e8bb9;
	margin:4% 0 4% 0;
}

/*Carousel Area END*/


/*student heading Area Start*/

.student_heading {
    width: 100%;
    margin: 0px auto;	
}

.student_heading_sub {
    width: 1170px;
    margin: 0px auto;
}

.main_student {
	width:52%;
	display:inline-block;
	vertical-align:top;	
	margin: 2% 0 0 0;
}

.main_student h1 {
	color:#33b376;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
	font-size:60px;
}

.normal_text {
	width:47%;
	display:inline-block;
	vertical-align:top;
    margin: 2% 0 2% 0;	
}

.normal_text p {
	color:#868686;
    font-family: 'Lato', sans-serif;
    font-weight:400;
	font-size:20px;
}

.normal_text p span {
	color:#33b375;
	font-size:22px;
}

/*student heading Area END*/


/*our satisfied customer Start*/

.osc {
	width: 100%;
}
.osc_sub {
	width: 1170px;
}
.osc h2 {
	color: #FFF;
}
.osc h3 {
	color: #FFF;
}
.osc p {
	color: #FFF;
	font-size: 16px;
	font-weight: 300;
	padding: 2% 0px 4% 0;
}
.osc h5 {
	color: #FFF;
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
}
.osc .carousel-caption {
	bottom: 50%;
}
.osc .carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 562px;
}

.osc img {
	width: 100%;
}
/*our satisfied customer End*/


<!--Three Sections Area Start -->


.three_section {
    width: 100%;
    margin: 0px auto;	
}

.three_section_sub {
    width: 1170px;
    margin: 0px auto;
}

.section_one {
	width:34%;
	display:inline-block;
	vertical-align:top;
	margin:5% 0 0 0;
}

.section_one h1 {
	color:#2eb474;
    font-family: 'Lato', sans-serif;
    font-weight:800;
	font-size:40px;
	margin:0 0 5% 0;
}

.section_one h2 {
	color:#b1b1b1;
    font-family: 'Lato', sans-serif;
    font-weight:700;
	font-size:32px;
	margin: 5% 0 4% 0;
	text-transform:capitalize;
}

.sections_buttons {
	margin: 0 4% 6% 0;
	font-size: 14px;
}

.my_login {
	width:60%;	
	border-color: #2fb474;
}

.my_login input-placeholder {
	color:#F00;
}

.form-control:focus {
    color: #b0b1b0;
    background-color: #fff;
    border-color: #31b472;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(47, 180, 116, .25);
}

.my_check {
	display:inline-block;
	vertical-align:top;	
	font-size:12px;
	margin: 0 10% 0 0;
}

.my_check1 {
    font-size: 12px;
    margin: 0;
    padding: 0;
    top: -16px;
	 color: #32b574;
}

.my_submit {
	display:inline-block;
	vertical-align:top;		
	padding: 5px 25px 5px 25px;	
}

.section_two {
	width: 42.4%;
	display:inline-block;
	vertical-align:top;
	margin:5% 0 0 0;
}

.section2_img {
	margin:0 0 1% 0;	
}

.section_three {
	width:22%;
	display:inline-block;
	vertical-align:top;
	margin:5% 0 0 0;
}

.section3_img {
	margin: 1.9% 0 1.9% 0;
}

<!--Three Sections Area End -->


/*Our partner Section Start*/

.our_partner {
	width: 100%;
}
.our_partner_sub {
	width: 1170px;
	margin: 0px auto;
}
.our_partner img {
    padding: 1% 5% 3% 5%;
}
/*Our partner Section End*/



/*client section START*/

.client_section {
	width: 100%;
}

.client_section_sub {
	width: 1170px;
	margin: 0px auto;
}

.testi_area {
	width:58%;	
	display:inline-block;
	vertical-align:top;
	margin:10% 0 0 0;
}

.client_img {
	width:41%;	
	display:inline-block;
	vertical-align:top;
}

/*client section END*/


/*Bottom Link section Start*/

.bottom_link {
	width:100%;	
}

.bottom_link_sub {
	width: 1170px;
	margin: 0px auto 3%;
}

.bottom_link h1 {
	font-size:32px;
	margin: 3% 0 1% 0;
}

.bottom_link h2 {
	font-size:24px;
	color:#6e6e6c;	
	text-transform:none;
	margin: 0 0 2% 0;
}

/*Bottom Link section END*/



/*Footer START*/

.my_footer {
	background:#3c3c3c;
	width:100%;	
}

.footer_sub {
	width: 1170px;
	margin: 0px auto;
}

.subscribe_section {
	width:100%;
}

.footer_heading {
	width:40%;
	display:inline-block;
	vertical-align:top;
}

.subscribe_section h1 {
    font-size: 27px;
    color: #fff;
    font-weight: 700;
    padding: 10% 0 10% 0;
}

.footer_form {
	width:44%;
	display:inline-block;
	vertical-align:top;	
}

.footer_input {
    width:80%;
    display: inline-block;
    vertical-align: top;
    margin: 9% 0 9% 0;
}

.my_input_style {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #3c3c3c;
    background-clip: padding-box;
    border: 1px solid #33b375;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;	
}

.footer_button {
	width:15%;
	display:inline-block;
	vertical-align:top;
	margin: 4% 0 0 0;
}

.footer_selection {
	display:inline-block;
	vertical-align:top;
	color: #b5b5b5;
	background-color:#3c3c3c;
	border: 1px solid #3c3c3c;
}

.footer_button p {
	display:inline-block;
	vertical-align:top;	
}

.address_section {
	width:100%;	
}

.one {
	width:30%;
	display:inline-block;
	vertical-align:top;	
}

.one h1 {
	color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;	
}

.footer_selection1 {
	display:inline-block;
	vertical-align:top;
	color: #b5b5b5;
	background-color:#3c3c3c;
	border: 1px solid #7d7d7d;
    font-size: 14px;
	width: 80%;
	margin: 5% 0 5% 0;
}

.one p {
    line-height: 20px;
}

.two {
	width:30%;
	display:inline-block;
	vertical-align:top;
}

.two h1 {
	color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;	
}

.two p {
	font-size:16px;
	color:#b5b5b5;
    line-height: 20px;
}

.three {
	width:30%;
	display:inline-block;
	vertical-align:top;
}

.three h1 {
	color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;	
}

.three p {
	font-size:16px;
	color:#b5b5b5;
    line-height: 20px;
}

.four {
	width:9%;
	display:inline-block;
	vertical-align:top;
}

.four img {
}

.copyright_section {
	width:100%;	
	padding:1% 0 2% 0;
}

.copyright_section p {
	font-size:16px;
	color:#6f6f6f;
    line-height: 24px;
}

.copyright_section a {
	font-size:16px;
	color:#6f6f6f;
    line-height: 20px;
}

.copyright {
	width:50%;
	display:inline-block;
	vertical-align:top;	
}

.social {
	width:49%;
	display:inline-block;
	vertical-align:top;
	text-align:right;
}

.social img {
	padding:0 10px 0 0;
}

/*Footer END*/

/*SEARCH PAGE START*/

/*Search Page Area Start*/

.search_area {
	background-color:#2bb673;	
	width:100%;
	    padding: 0 0 3% 0;
}

.search_area_sub {
	width: 1170px;
	margin: 0px auto;
}

.search_area_sub h1 {
	color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight:800;
    font-size:36px;
	margin: 0;
	padding:4% 0 4% 0;		
}

.search_nav {
	width:100%;	
    background-color: #17181a;
    color: #959595;
}

.search_nav p {
	padding:2% 2% 2% 2%;
	font-size:16px;
	margin:0;	
    display:inline-block;
	vertical-align:top;
}

.search_for {
	display:inline-block;
	vertical-align:top;
	float:right;	
	padding: 1.5% 2% 0% 0%;
}

.tag_area {
	width:100%;	
	background-color:#2bb673;	
	border: 1px solid #17181a;
}

.tag_area p {
	color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight:500;
    font-size:16px;
	margin: 0;
	padding:2% 2% 2% 2%;	
}

.tag_area a {
	color:#FFF;
}

.body_content {
	width:100%;
	background-color:#fff;	
}

.body_content_sub {
	width: 1170px;
	margin: 0px auto;
}

.body_content_sub h1 {
	font-weight:800;
	margin:4% 0 4% 0;	
}

.my_content h1 {
	color:#2ab572;
    font-family: 'Lato', sans-serif;
    font-weight:700;
	margin: 0 0 3% 0;
}

.my_content p {
    font-family: 'Lato', sans-serif;
	font-size:18px;
}


/*TABS AREA START*/

.nav-tabs {
    border-bottom: 1px solid #171819;
}

.tab-content h3 {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    letter-spacing: 0;
    margin: 0;
    font-weight:800;
    padding: 2% 2% 0% 2%;
}

.nav-tabs li {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 0px auto;
    padding: 2% 0% 2% 0%;
    text-align: center;
}

.my_tab1 {
	background:	#2bb673 ;
}

.my_tab2 {
	background:	#0196aa;
}

.my_tab3 {
	background:	#f19e14;
}

.my_tab4 {
	background:#f40000;
}

/*TABS AREA END*/

/*SEARCH PAGE END*/


/*CONTACT PAGE START*/

.contact_body {
	width:100%;	
}

.contact_body_sub {
	width: 1170px;
	margin: 0px auto;
}

.contact_form_area {
	width:70%;
	display:inline-block;
	vertical-align:top;
	    margin: 0 0 4% 0;
}

.contact_right_area {
	width:29%;
	display:inline-block;
	vertical-align:top;
	margin:4% 0 4% 0;	
}

.contact_icon {
	display:inline-block;
	vertical-align:top;	
}

.contact_heading  {
	display:inline-block;
	vertical-align:top;	
}

.contact_heading  h1 {
    font-family: 'Lato', sans-serif;
    font-weight:700;
	font-size:24px;
	margin: 23% 0 23% 0%;
}

.my_style_list {
	border:none;
	font-size: 20px;	
}


.google_maps {
	width:100%;	
}

.g_map1 {
	width:33%;	
	text-align:left;
	display:inline-block;
	vertical-align:top;
	margin:4% 0 4% 0;	
}

.g_map2 {
	width:33%;	
	text-align:center;
	display:inline-block;
	vertical-align:top;
	margin:4% 0 4% 0;	
}

.g_map3 {
	width:33%;
	text-align:right;
	display:inline-block;
	vertical-align:top;
	margin:4% 0 4% 0;	
}

.contact_address {
	width:100%;	
}

.con_add {
	width:50%;	
	display:inline-block;
	vertical-align:top;
	margin:4% 0 4% 0;	
}

.con_add h1 {
    font-family: 'Lato', sans-serif;
    font-weight:500;
	font-size:22px;
	color:#565654;
}

.con_add p{
    font-family: 'Lato', sans-serif;
    font-weight:500;
	font-size:16px;
	color:#565654;
}

.con_phone {
	width:49%;	
	display:inline-block;
	vertical-align:top;
	margin:4% 0 4% 0;	
	border-left:1px dashed #666;	
}

.con_phone h1 {
    font-family: 'Lato', sans-serif;
    font-weight:500;
	font-size:22px;
	color:#565654;
	padding: 0 0 0 10%;
}

.con_phone p{
    font-family: 'Lato', sans-serif;
    font-weight:500;
	font-size:16px;
	color:#565654;
	padding: 0 0 0 10%;
}

.contact_form_ {
	width:100%;	
}

.contact_form_  h1{
	font-family: 'Lato', sans-serif;
    font-weight:500;
	font-size:22px;
	color:#565654;
	 margin: 2% 0 0 0;
}

.sub_m {
	background-color:#dadada;	
}

.sub_m1 {
	background-color:#b3b3b3;	
}

/*CONTACT PAGE END*/

/*Responsive nav Start*/

#menu {
	display:none;	
}


/*Responsive nav End*/


.dropdown-item {
    font-weight: 600;
    color: #212529;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.navbar-expand-lg {
    text-align: right;
    display: inline-block;
}


/*ABOUT US PAGE START*/

.about_tabs {
	border-bottom: 1px solid #e6e6e6;	
}

.about_h3 {
	color:#32b474 !important;	
	font-family: 'Lato', sans-serif;
    font-size: 24px;
    letter-spacing: 0;
    margin: 0;
    font-weight: 800;
    padding: 2% 2% 2% 0% !important;
}

.about_h4 {
    color: #4a4a4a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    margin: 0 0 2% 0;
}

.about_p {
	font-family: 'Lato', sans-serif;
    font-weight:400;
	font-size:15px;
	color:#565654;
	padding: 0% 0% 2% 0%;
}

.contact_about_info {
	display:inline-block;
	vertical-align:top;	
	 width: 38%;
}

.about_contact_form {
	display:inline-block;
	vertical-align:top;	
	width:56%;
	margin: 4% 0 0 4%;	
}

.about_form_message {
	margin:4% 0 4% 0;	
}

.about_message {
	height:200px !important;	
}

.about_bottom_space {
	padding:0 0 4% 0;
}

.about_cf_space {
    margin: 0 0 5% 0;
}


/*ABOUT US PAGE END*/


/*LOGIN PAGE START*/

.alert-warning {
    color: #ff0000;
    background-color: transparent;
    border: 2px solid #ff0000;
    margin: 4% 0 0% 0;
}

.close:hover {
    color: #fff;
    text-decoration: none;
}

.login_formpage {
	width:60%;
	display:inline-block;
	vertical-align:top;	
    padding: 0% 4% 0% 0%;
	margin: 4% 0 0 0;
}

.login_formimg {
	width:39%;
	display:inline-block;
	vertical-align:top;
	margin: 4% 0 4% 0;
}

.reg_login {
	float:left;	
	color: #4a4a4a;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight:400;
}

.reg_login a {
	color: #4a4a4a;
}

.forget_login {
	float:right;	
	color: #4a4a4a;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight:400;
}

.forget_login a {
	color: #4a4a4a;
}

.login_psubmit {
	margin:3% 0 0 0;	
    padding: 1% 4% 1% 4%;
}

/*LOGIN PAGE END*/




































/*Application Form Start*/

.About_Tag {
    display: table;
    margin: 0px 0 2% 0;
    width: 100%;
} 

.my_fill_btn {
    background: #32b274;
    border: 2px solid #156d43;
    color: #fff;
}

.my_fill_btn:hover {
    background: #156d43;
    border: 2px solid #32b274;
    color: #fff;
}

.Section_Devs {
    padding: 40px 0;
    font-family: 'Lato', sans-serif;
}

/*Application Form END*/



/*NEW FORM STYLING GK*/
.Optim-Form0s h2 {
  color: #2bb673;
  margin: 0% 0 2% 0;
}
.Optim-Form0s h3 {
    background: #2bb673;
    color: #fff;
    padding: 1%;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
	margin: 2% 0 3% 0;
}

.Add_details p {
	    font-family: 'Lato', sans-serif;
		font-size:14px;
}

.Appy-formy {
  width: auto;
}
.Appy-formy .highlight {
  background: #d9d9d9;
  padding: 10px 26px;
  margin: 0;
}
.Appy-formy fieldset {
  padding: 20px;
  border: 1px solid #ccc;
}
.Appy-formy label {
  font-size: 14px;
  margin: 10px 0;
}
.Appy-formy span {
  display: block;
  font-size: 10px;
}
.input-field-box {
  width: 40px;
  float: left;
  border-radius: 0;
  border: 2px solid #d7d7d7;
  margin: 0 5px;
}
.Office-checks {
  float: left;
      margin: 0 0 0 20px;
}
table.opt-centered tr td, table.opt-centered tr th {
  text-align: center;
  vertical-align: middle;
}
table.opt-centered label.notshow {
  display: none;
}



/*** custom checkboxes ***/
.Appy-formy input[type=checkbox] { display:none; } /* to hide the checkbox itself */
.Appy-formy input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

.Appy-formy input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
.Appy-formy input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

.Appy-formy input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
.Appy-formy input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */


.Add_details label {

    text-transform: uppercase;

    margin-bottom: 14px;

    font-size: 13px;

    color: #1d1d1a;

    font-weight: 500;
	
	font-family: 'Lato', sans-serif;
}

.form_g_margin {
	margin:0 0 0 0;
}


.pti1 {
    width: 162px;
    float: left;
}

.pti2 {
    width: 681px;
}

.pti3 {
    width: 374px;
    float: left;
}

.pti4 {
    width: 132px;
    float: right;
}

.check_b_style {
    font-weight:500 !important;
}

.my_f_w {
	width:200px;	
}

.Submit_Button {
	background: #32b274;
    border: 2px solid #156d43;
    color: #ffffff !important;	
}

.Submit_Button:hover {
    background: #156d43;
    border: 2px solid #32b274;
    color: #fff;
}

.my_form3_s {
	float:left;	
}









.my_upload_ic {
	width:100px;
	height:100px;	
}